.toggle-nav { 
	@include transform( translateZ(0) );
	outline: none;
	display:none;
	color: #fff;
	position: fixed;
	background: rgba(255,255,255,0.8);
	top:5px; left: 5px;
	height: 42px;
	padding: 10px 10px 10px 40px;
	font-weight: 600;
	z-index: 12;
	@include transition( $smallNavDuration all $smallNavEasing 0s );
	text-transform: uppercase;
	
	.show-nav & { top: 5px; }
	.small-nav & { top:18px; }
	
	@media screen and (max-width: $collapseNavAt) {
		font-size:0;
		padding-left: 30px;
	}
		
	.show-nav &,
	&:hover {
		background: $primaryColor;
		color:#fff;
		span { 
			&,
			&:before,
			&:after { border-top-color: #fff; }
			
			.show-nav & { border-top-color: #fff; }
		}
	}
	
	
	span {
		width: 20px; height: 10px;
		left:10px;
		margin-top: -1px;
		position: absolute;
		top: 50%;
		border-top:  2px solid $primaryColor;
		
		&,
		&:before,
		&:after {
			@include transition( all 0.2s $ease-in-out-sine 0s );
		}
		
		.show-nav & { border-top-color: $primaryColor !important; left: 16px;}
		
		&:before,
		&:after {
			content:"";
			position: absolute;
			top: -9px; 
			left:0; right:0;
			border-top: 2px solid $primaryColor;
			@include transform-origin( top left );
			.show-nav & {
				left: -3px;
				@include transform( rotate3d(0,0,1,45deg) );
			}
			
		}
		
		&:after { 
			top: auto; bottom:1px;
			@include transform-origin( bottom left );
			.show-nav & { 
				bottom:-1px;
				@include transform( rotate3d(0,0,1,-45deg) ); 
			}
		}
		
	}
	
}

@media screen and (min-width: $collapseNavAt) {

	.small-nav {
		.nav {
			@include transform( translate3d(0,-50px,0) );
		}
		
		nav {
			padding-bottom:0;
		}
	}

	.nav {
		@include transform( translateZ(0) );
		@include transition( $smallNavDuration all $smallNavEasing );
		position: fixed;
		top:0; left:0; right:0;
		z-index: 2;
		padding: 10px;
		background: #fff;
		border-bottom: 1px solid rgba(0,0,0,0.2);
		
		.sw { padding-top: 50px; }
	}
	
	.nav-meta {
		position: absolute;
		top:0; right:0;
		
		ul {
			@include display( flex );
			
		}
		
		a {
			color: #868686;
			font-weight: 300;
			font-size: 12px;
			text-transform: lowercase;
			display: block;
			padding: 8px;
			border-radius: 4px;
			&:hover {
				color: #fff;
				background: $primaryColor;
			}
		}
	}
	
	nav {
		@include transition( $smallNavDuration padding $smallNavEasing );
		position: relative;
		text-align:right;
		padding-bottom: 25px;
		padding-right:40px;
		
		.toggle-search {
			position: absolute;
			right:0; top:0;
			display: block;
			width: 40px; height: 40px;
			font-size:18px;
			border-radius: $buttonBorderRadius;
			&:focus,
			&:hover {
				background: $primaryColor;
				color: #fff;
			}
		}
		
		>ul {
			@include display( inline-flex );
			text-transform: uppercase;
			font-size: 16px;
			
			>li {
				position: relative;
				
				&:after {
					position: absolute;
					top: 100%; left:0; right:0;
					height: 20px;
					content:"";
					display: none;
				}
				
				&:before {
					line-height: 18px;
					content:"\25B2";
					color: #fff;
					text-shadow: 0 -2px 4px rgba(0,0,0,0.2);
					position: absolute;
					top: 90%; left:0; right:0;
					text-align:center;
					font-size: 28px;
					z-index: 10;
					display: none;
				}
				
				>a { 
					display: block;
					border-radius: $buttonBorderRadius;
					padding: 10px 16px;
					color: #333;
				}
				
				&:hover>a {
					color: #fff;
					background: $primaryColor;
				}
			}
		}
		
		
		li {
			&:hover {
				&.with-drop:before { display: block; }
				&:after { display: block; }
				>div {
					@include transform( none ); 
				}
			}
		}
		
		li:nth-child(n+4) {
			&,
			& + li {
				div { 
					right:0; left: auto;
					margin-right: -30px;
				}
			}
		}
		
		ul div { 		
			@include transform-origin( left top );
			@include transform( scale(0,0) );
			position: absolute;
			top: 90%; left:0;
			margin-top: 18px;
			box-shadow: 0 0 8px rgba(0,0,0,0.2); 
			padding: 10px;
			background: #fff;
			font-size:14px;
			
			ul {
				overflow:hidden;
				width: 500px;
			}
			
			li {
				float: left;
				width: 250px;
			}
			
			span {
				display: table-cell;
				vertical-align: middle;
			}
			
			.lazybg {
				width:70px;
				height: 50px;
				vertical-align:middle;
				position: relative;
				
				&:after {
					@include transition( 0.2s opacity $ease-in-out-sine );
					content:"";
					position:absolute;
					top:0; left:0; right:0; bottom:0;
					background: rgba($primaryColor,0.7);
				}
				
				+ span { padding-left: 10px; }
			}
			
			a {
				display: table;
				width: 100%;
				padding: 10px;
				text-align:left;
				font-size: 12px;
				color: #383838;
				border-radius: $buttonBorderRadius;
				&:hover {
					background: $primaryColor;
					color: #fff;
					
					.lazybg:after {
						opacity:0;
					}
					
				}
			}
		}
		
	}
	
	.nav-search-form { display: none; }
}

/* reorganize nav */
@media screen and (max-width: $reorganizeNavAt) and (min-width: $collapseNavAt) {
	.header-logo { 
		@include transform( scale(0.8,0.8) );
		top: 5px; 
		left: -2.5%;
		
		.small-nav & {
			top: -50px;
		}
	}
	
	nav {
		padding-bottom: 10px;
		>ul {
			@include display( flex );
			@include justify-content( space-between );
		}
	}
}

/* collapsed nav */
.mobile-nav-bg { display: none; }
@media screen and (max-width: $collapseNavAt) {
	$collapsedNavWidth: 290px;
	.mobile-nav-bg {
		@include transform( translateZ(0) );
		@include transition( all 0.4s $ease-in-out-sine );
		width: 100vw;
		height: 10000px;
		background: rgba(0, 0, 0, 0.8);
		position: fixed;
		top: 0; left: 0;
		z-index: -1;
		display: block;
		visibility: hidden;
		opacity: 0;
		cursor: pointer;		
		.show-nav & {
			opacity: 1;
			visibility: visible;
			z-index: 21;
			cursor: pointer; 
		}
	}

	.toggle-nav { display: block; }
	.page-wrapper { z-index: 2; }
	
	.nav {
		@include transform( translateZ(0) );
		position: fixed;
		top:0; left:0; 
		padding-top: 60px;
		height: 100vh;
		z-index: 1;
		width: $collapsedNavWidth;
		>.sw { 
			display: block; 
			height: 100%;
			overflow-y:scroll;
		}
	}
	
	header,
	.page-wrapper { @include transition( 0.4s all $ease-in-out-sine ); }
	
	.show-nav  {
		body { height: 100vh; overflow: hidden; }
		
		header,
		.page-wrapper { @include transform( translate3d( $collapsedNavWidth, 0, 0 ) ); }
	}
	
	nav {
		padding-top: 40px;
		a {
			display: block;
			color: #fff;
			text-transform: uppercase;
			font-size: 18px;
			padding: 12px;
		}
	
		div {
			background: rgba(0,0,0,0.2);
			
			a {
				padding: 6px 6px 6px 14px;
				font-size: 14px;
				font-weight:300;
				text-transform: none;
				border-bottom: 1px solid rgba(255,255,255,0.4);
			}
		}
	}
	
	.nav-meta {
		background: rgba(0,0,0,0.2);
		a {
			display: block;
			font-size: 14px;
			padding: 6px 6px 6px 14px;
			color: #fff;
			font-weight:300;
		}
	}
	
	.nav-search-form {
		position: absolute !important;
		top:60px; left:0; right:0;
		input {
			font-size: 18px;
		}
		.toggle-search { display: none; }
	}
	
}