$heroMaxHeight: 800px;

/* hero */
.hero {
	position: relative;

	.swipe-item-bg {
		@include transition( opacity 0.25s $ease-in-out-sine );	
		position: absolute;
		z-index: 1;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		opacity:0;
		left:0; right:0; bottom:0; top:0;
		&.loaded,
		.loaded & { opacity:1; }
	}

}

.hero-content {
	@include display( flex );
	@include justify-content( center );
	@include flex-flow ( column nowrap );
	text-align:center;
	height: 100vh;
	max-height: $heroMaxHeight;
	padding-top: $navHeight;
	background: rgba($primaryColor,0.7);
	position: relative;
	z-index: 2;
}

.hero-title {
	max-width: 1000px;
	margin: 0 auto;
	text-transform: uppercase;
	color: #fff;
	font-size: 48px;
}

.hero-form-wrap {
	max-width: 650px;
	margin: 15px auto;
	text-align:right;
	
	form { border-radius: 4px; }
	
	input {
		padding: 14px;
		font-size: 18px;
	}
	
	a { 
		color: #fff; 
		font-weight:300;
		font-size:12px;
		text-transform:uppercase;
		&:hover { color: $secondaryColor; }
	}
}

.hero-swiper {
	position: absolute;
	top:0; left:0; right:0;
	.swipe-item {
		height: 100vh;
		max-height: $heroMaxHeight;
		position: relative;
	}
	
	.slick-dots {
		display: block;
		position: absolute;
		left:0; right:0; bottom: 10px;
		z-index: 10;
		text-align: center;
		
		li { 
			display: inline; 
		}
		
		button {
			@include transition( 0.2s background $ease-in-out-sine );
			display: inline-block;
			margin: 0 3px;
			width: 12px; height: 12px;
			text-indent: -999em;
			overflow: hidden;
			border: 2px solid #fff;
			border-radius: 8px;
			cursor: pointer;
		}
		
		button:hover,
		.slick-active button {
			background: #fff;
		}
	}
}


	@media screen and (min-width: $collapseNavAt) {
		.hero { margin-top: -$navHeight; }
		.hero-swiper .swipe-item { padding-top: $navHeight; }
	}
	
	@media screen and (max-width: $collapseNavAt) {
		.hero { margin:0; }
		.hero-swiper .swipe-item { padding-top:0}
		.hero-title { font-size: 32px; }
	}