/**
 Theme
 
 This framework has been developed based on the similarities
 between most JAC templates. It may not work well for templates
 that wildliy depart from the usual design, but it will no doubt still contain
 useful components. 
 
 Have Fun!
 
*/

/* Theme Specific Colors that we can use below */
$primaryColor: #3780b8;
$secondaryColor: #202020;


@mixin link-transition() {
	@include transition( 0.2s color $ease-in-out-sine );
}

/* grid */
$gridCollapseLarge: 1600px;
$gridCollapseMedium: 1200px;
$gridCollapseSmall: 750px;
$gridCollapseExtraSmall: 550px;

$gridClassMapping: (
	'lg' #{$gridCollapseLarge},
	'md' #{$gridCollapseMedium},
	'sm' #{$gridCollapseSmall},
	'xs' #{$gridCollapseExtraSmall}
);

/* fonts */
$serifFontStack: georgia,garamond,serif;
$sansSerifFontStack: helvetica,arial,sans-serif;

@mixin declare-font-face($font-family, $font-filename, $path, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
	@font-face {
		font-family: $font-family;
		src: url('#{$path}#{$font-filename}.eot'); /* IE9 & compatibility modes */
		src: url('#{$path}#{$font-filename}.eot?#iefix') format('eot'), /* IE6-8 */
		url('#{$path}#{$font-filename}.woff2') format('woff2'), /* Blink */
		url('#{$path}#{$font-filename}.woff') format('woff'), /* Firefox, Opera */
		url('#{$path}#{$font-filename}.ttf') format('opentype'), /* Chrome */
		url('#{$path}#{$font-filename}.svg##{$font-filename}') format('svg'); /* Safari */
		font-weight: $font-weight;
		font-style: $font-style;
		font-stretch: $font-stretch;
	}
}

$defaultFontStack: Montserrat,$sansSerifFontStack;

/* body */
$pageBackgroundColor: #fff;
$darkBackgroundColor: $secondaryColor;
$darkBackgroundContentColor: #fff;
$sectionSeparatorColor: #fff;
$darkSectionSeparatorColor: #fff;
$separatorColor: darken(#e0e0e0,20);

$bodyContentColor: #4b4b4b;
$bodyBackgroundColor: darken($primaryColor,10);

$wrapperWidth: 1410px;
$collapseNavAt: 800px;
$pageWrapperWidth: 1920px;

/* footer */
$footerBackgroundColor: #2b2b2b;
$footerContentColor: #fff;
$footerLinkColor: #fff;
$footerHoverColor: $primaryColor;

$copyrightBackgroundColor: #111111;
$copyrightContentColor: #fff;
$copyrightLinkColor: #fff;
$copyrightHoverColor: $primaryColor;
$copyrightSeparatorColor: #fff;

/* headings */
$darkBackgroundHeadingColor: $darkBackgroundContentColor;
$headingFontStack: $defaultFontStack;
$headingColor: $secondaryColor;

$h1Size: 42px;
$h2Size: 32px;
$h3Size: 28px;
$h4Size: 24px;
$h5Size: 18px;
$h6Size: 16px;

/* for more fine-grained control of heading styles */
@mixin header-theme() { 
	font-weight:600;
	text-transform: uppercase;
	
}
@mixin h1-theme() { }
@mixin h2-theme() { }
@mixin h3-theme() { }
@mixin h4-theme() { }
@mixin h5-theme() { }
@mixin h6-theme() { 
	footer & { 
		font-weight:normal;
	}
}

/* buttons */
/* Use these mixins to define button color, background color, etc */
$buttonBorderRadius: 4px;
@mixin button() {
	@include transition( 0.2s all $ease-in-out-sine );
	color: $secondaryColor;
	border-radius: $buttonBorderRadius;
	background-color: transparent;
	border: 1px solid $secondaryColor;
	padding: 12px 26px;
	
	.d-bg &,
	.dark-bg & {
		color: #fff;
		border-color: #fff;
		background: transparent;
	}
	
	&.primary {
		color: $primaryColor;
		border-color: $primaryColor;
		
		&.fill {
			color: #fff;
			background-color: $primaryColor;
			border-color: $primaryColor;
		}
	}
	
	&.fill {
		color: #fff;
		border-color: $secondaryColor;
		background-color: $secondaryColor;
	}
	
	&.block { 
		display: block;
		text-align: center;
	}
	
	&.small {
		border-radius:0;
		padding: 8px 18px;
		font-size: 13px;
	}
	
}

@mixin buttonHover() {
	color: #fff;
	background-color: $secondaryColor;
	border-color: $secondaryColor;
	
	.d-bg &,
	.dark-bg & {
		background: #fff;
		border-color: #fff;
		color: $secondaryColor;
	}
	
	.primary-bg & {
		color: $primaryColor;
	}
	
	&.primary {
		color: #fff;
		background: $primaryColor;
		border-color: $primaryColor;
		&.fill {
			color: #fff;
			background: $secondaryColor;
			border-color: $secondaryColor;
			
			.d-bg &,
			.dark-bg & {
				border-color: #fff;
			}
			
		}
	}
	
	&.fill {
		background: $primaryColor;
		border-color: $primaryColor;
	}
	
}

/* article styles */
$sidebarWidth: 460px;
$sidebarCollapseWidth: 950px;

@mixin link-theme() {
	color: lighten($secondaryColor,10);
	font-weight: 600;
	display: inline-block;
	position: relative;
	padding: 2px 4px;
	border-bottom: 1px solid $secondaryColor;
	
	
	.d-bg &,
	.dark-bg & { 
		color: $primaryColor; 
		border-color: $primaryColor;
	}
	
	&,
	&:after {
		@include transition( 0.15s all $ease-in-out-sine );
	}
	
	&:after {
		content:"";
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		background-color: $secondaryColor;
		
		@include transform-origin( center bottom );
		@include transform( scale(1,0) );
		z-index: -1;
		
		.d-bg &,
		.dark-bg & {
			background-color: $primaryColor;
		}
		
	}
	
}

@mixin link-hover-theme() {
	color: #fff !important;
	
	.d-bg &,
	.dark-bg & { color: #fff !important; }
	
	&:after { @include transform( none ); }	
}

@mixin link-visited-theme() {
	color: $primaryColor;
	border-color: $primaryColor;
	&:after {
		background-color: $primaryColor;
	}
	
	.d-bg &,
	.dark-bg & { color: #fff; }
	
}

@mixin link-active-theme() {
	text-decoration: none;
	color: #fff !important;
	
	&:after { 
		background-color: $primaryColor;
		@include transform( none ); 
	}
	
}

/* excerpts */
$excerptColor: $primaryColor;

/* lists */
$listNumberColor: $primaryColor;

/* breadcrumbs */
$breadCrumbColor: $primaryColor;
$breadCrumbColorActive: $primaryColor;
$breadCrumbColorHover: $secondaryColor;

/* forms */
$fieldBackgroundColor: #f5f5f5;
$fieldTextColor: $secondaryColor;
$fieldPlaceHolderColor: #8c8c8c;
$fieldBorderColor: transparent;
$fieldFocusedBackgroundColor: #fff;
$fieldSpacing: 10px;
$fieldPadding: 14px;
@mixin field-placeholder() {
	font-family: $defaultFontStack;
	color: $fieldPlaceHolderColor;
}

@mixin my-placeholder() {
	&::-webkit-input-placeholder { 
		font-family: $defaultFontStack,-webkit-placeholder; 
		@content;
	}
	&::-moz-placeholder { 
		font-family: $defaultFontStack,-moz-placeholder; 
		@content;
	}
	&:-moz-placeholder { 
		font-family: $defaultFontStack,--moz-placeholder; 
		@content;
	}
	&:-ms-input-placeholder { 
		font-family: $defaultFontStack,--ms-placeholder; 
		@content;
	}
	&:placeholder { 
		font-family: $defaultFontStack,-placeholder; 
		@content;
	}
}

/* accordion */
$accHandleBorderWidth: 1px;
$accHandleBorderColor: transparent;
$accHandleColor: lighten($secondaryColor,10);
$accHandleColorActive: lighten($secondaryColor,10);

$accHandleBGColor: #e5e5e5;
$accHandleBGColorActive: #d0d0d0;

$accContentBorderWidth: 1px;
$accContentBorderColor: transparent;
$accContentBGColor: #efefef;

$accContentLinkColor: lighten($secondaryColor,10);
$accContentLinkBGColor: transparent;

$accContentLinkActiveColor: #fff;
$accContentLinkActiveBGColor: $primaryColor;

/* selector */
$selectorColor: #fff;
$selectorColorActive: #fff;
$selectorBackgroundColor: $primaryColor;
$selectorBackgroundColorActive: darken($primaryColor,10);

/* filter section */
$filterBarBackgroundColor: $primaryColor;
$filterBarContentColor: #fff;

$filterControlBackgroundColor: #fff;
$filterControlBackgroundColorActive: $secondaryColor;
$filterControlColor: $primaryColor;
$filterControlColorActive: #fff;